*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~
pkg/

# Berkshelf
.vagrant
/cookbooks
Berksfile.lock

# Bundler
Gemfile.lock
bin/*
.bundle/*

.kitchen/
.kitchen.local.yml

.chef/knife.local.rb

# IDEs
*.iml
.idea

# OS
.DS_Store

# Secure files and folders
*.secure
.secure/*